################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Create2.cshtml.g.cs
bin
obj
packages
/.vs/PalletLoading/config/applicationhost.config
/.vs/PalletLoading/DesignTimeBuild/.dtbcache.v2
/.vs/PalletLoading/FileContentIndex/00c55b55-9c11-4a57-9bb7-2ce24e0c9f5d.vsidx
/.vs/PalletLoading/FileContentIndex/2bb15595-97dd-40b2-8572-5bbefe36a58c.vsidx
/.vs/PalletLoading/FileContentIndex/544e2dbb-e110-4a48-8c1b-da3da024c098.vsidx
/.vs/PalletLoading/FileContentIndex/73d6365c-9676-4ad8-a711-e149d48e05d3.vsidx
/.vs/PalletLoading/FileContentIndex/936340d6-d691-4b90-abb8-41ad9a2d7e8a.vsidx
/.vs/PalletLoading/v17/.futdcache.v2
/.vs/PalletLoading/v17/.suo
/.vs/PalletLoading/v17/.wsuo
/.vs/PalletLoading/v17/DocumentLayout.json
/.vs/PalletLoading/v17/fileList.bin
/.vs/ProjectEvaluation/palletloading.metadata.v7.bin
/.vs/ProjectEvaluation/palletloading.projects.v7.bin
/.vs/VSWorkspaceState.json
/PalletLoading/bin/Debug/net5.0/libman.json
/PalletLoading/bin/Debug/net5.0/PalletLoading.dll
/PalletLoading/bin/Debug/net5.0/PalletLoading.exe
/PalletLoading/bin/Debug/net5.0/PalletLoading.pdb
/PalletLoading/bin/Debug/net5.0/PalletLoading.runtimeconfig.dev.json
/PalletLoading/bin/Debug/net5.0/PalletLoading.Views.dll
/PalletLoading/bin/Debug/net5.0/PalletLoading.Views.pdb
/PalletLoading/bin/Release/net5.0/libman.json
/PalletLoading/bin/Release/net5.0/PalletLoading.dll
/PalletLoading/bin/Release/net5.0/PalletLoading.exe
/PalletLoading/bin/Release/net5.0/PalletLoading.pdb
/PalletLoading/bin/Release/net5.0/PalletLoading.runtimeconfig.dev.json
/PalletLoading/bin/Release/net5.0/PalletLoading.Views.dll
/PalletLoading/bin/Release/net5.0/PalletLoading.Views.pdb
/PalletLoading/obj/Debug/net5.0/Razor/Views/CMR/CmrReport.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/CMR/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/CMR/Create2.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/CMR/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/AddContainer.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Report.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/ContainerTypes/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/ContainerTypes/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/ContainerTypes/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/ContainerTypes/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/ContainerTypes/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Countries/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Countries/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Countries/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Countries/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Countries/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Home/AccesDenied.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/AddContainer.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/CountryList.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/GeneratePDF.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/GetTable.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Pallets/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PalletTypes/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PalletTypes/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PalletTypes/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PalletTypes/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PalletTypes/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/PrintView.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/PartCenterPallets/PrintViewCreate.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Shared/_Layout_Full.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/UserRights/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/UserRights/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/UserRights/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/UserRights/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/UserRights/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Users/Create.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Users/Delete.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Users/Details.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Users/Edit.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/Users/Index.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
/PalletLoading/obj/Debug/net5.0/ref/PalletLoading.dll
/PalletLoading/obj/Debug/net5.0/apphost.exe
/PalletLoading/obj/Debug/net5.0/PalletLoading.AssemblyInfoInputs.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.assets.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.csproj.AssemblyReference.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.csproj.CoreCompileInputs.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.csproj.FileListAbsolute.txt
/PalletLoading/obj/Debug/net5.0/PalletLoading.dll
/PalletLoading/obj/Debug/net5.0/PalletLoading.GeneratedMSBuildEditorConfig.editorconfig
/PalletLoading/obj/Debug/net5.0/PalletLoading.genruntimeconfig.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.pdb
/PalletLoading/obj/Debug/net5.0/PalletLoading.RazorAssemblyInfo.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.RazorCoreGenerate.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.RazorTargetAssemblyInfo.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.RazorTargetAssemblyInfo.cs
/PalletLoading/obj/Debug/net5.0/PalletLoading.TagHelpers.output.cache
/PalletLoading/obj/Debug/net5.0/PalletLoading.Views.dll
/PalletLoading/obj/Debug/net5.0/PalletLoading.Views.pdb
/PalletLoading/obj/Debug/net5.0/refint/PalletLoading.dll
/PalletLoading/obj/Release/net5.0/Razor/Views/CMR/CmrReport.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/CMR/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/CMR/Create2.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/CMR/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/AddContainer.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Containers/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/ContainerTypes/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/ContainerTypes/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/ContainerTypes/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/ContainerTypes/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/ContainerTypes/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Countries/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Countries/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Countries/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Countries/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Countries/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Home/AccesDenied.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Home/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/AddContainer.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/CountryList.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/GeneratePDF.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/GetTable.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Pallets/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PalletTypes/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PalletTypes/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PalletTypes/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PalletTypes/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PalletTypes/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/PrintView.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/PartCenterPallets/PrintViewCreate.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Shared/_Layout_Full.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/UserRights/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/UserRights/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/UserRights/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/UserRights/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/UserRights/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Users/Create.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Users/Delete.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Users/Details.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Users/Edit.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/Users/Index.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
/PalletLoading/obj/Release/net5.0/ref/PalletLoading.dll
/PalletLoading/obj/PalletLoading.csproj.nuget.dgspec.json
/PalletLoading/obj/PalletLoading.csproj.nuget.g.props
/PalletLoading/obj/PalletLoading.csproj.nuget.g.targets
/PalletLoading/obj/project.assets.json
/PalletLoading/obj/project.nuget.cache
/PalletLoading/obj/Release/net5.0/apphost.exe
/PalletLoading/obj/Release/net5.0/PalletLoading.AssemblyInfo.cs
/PalletLoading/obj/Release/net5.0/PalletLoading.AssemblyInfoInputs.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.assets.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.csproj.AssemblyReference.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.csproj.CoreCompileInputs.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.csproj.FileListAbsolute.txt
/PalletLoading/obj/Release/net5.0/PalletLoading.dll
/PalletLoading/obj/Release/net5.0/PalletLoading.GeneratedMSBuildEditorConfig.editorconfig
/PalletLoading/obj/Release/net5.0/PalletLoading.genruntimeconfig.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.pdb
/PalletLoading/obj/Release/net5.0/PalletLoading.RazorAssemblyInfo.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.RazorCoreGenerate.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.RazorTargetAssemblyInfo.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.RazorTargetAssemblyInfo.cs
/PalletLoading/obj/Release/net5.0/PalletLoading.TagHelpers.output.cache
/PalletLoading/obj/Release/net5.0/PalletLoading.Views.dll
/PalletLoading/obj/Release/net5.0/PalletLoading.Views.pdb
/PalletLoading/obj/Release/net5.0/refint/PalletLoading.dll
/.vs/PalletLoading/FileContentIndex/5998b963-7c9a-4f38-8f59-2339c3186d93.vsidx
/.vs/PalletLoading/FileContentIndex/789899bc-5430-4eda-8855-2e70e0994fa7.vsidx
/.vs/PalletLoading/FileContentIndex/e1b02dc7-b6b0-48bf-bf4e-cd064727ed79.vsidx
/.vs/PalletLoading/FileContentIndex/e90d61c3-e8b6-4b14-8e47-d033f57f2b29.vsidx
/.vs/PalletLoading/FileContentIndex/f1461720-dc3a-4a5a-b3a6-b20116b5858a.vsidx
/.vs/PalletLoading/FileContentIndex/01924443-f880-4843-851b-516ff3f55f2b.vsidx
/.vs/PalletLoading/FileContentIndex/57331ba8-068c-408e-be1e-8f8cc0acbda8.vsidx
/.vs/PalletLoading/FileContentIndex/c0fbcc76-6409-4b12-a5ca-bcb5a386e924.vsidx
/.vs/PalletLoading/FileContentIndex/e999c833-4193-4111-a4c8-9caa9055e17f.vsidx
/.vs/PalletLoading/FileContentIndex/b85b8319-0e74-41ac-a264-3e3b391141bb.vsidx
/.vs/PalletLoading/FileContentIndex/0599ad97-5e57-43f6-9881-ec77aa1660ff.vsidx
/.vs/PalletLoading/FileContentIndex/b654dbb4-d8cc-4a7f-9de2-7c478944b0bd.vsidx
/.vs/PalletLoading/FileContentIndex/f1361e10-0550-43c2-8282-38f798608dd1.vsidx
/.vs/PalletLoading/FileContentIndex/61ff7244-e342-45d5-a6e4-0af3f8b65958.vsidx
/.vs/PalletLoading/FileContentIndex/e639f57c-0a44-4098-885c-18560c7000ad.vsidx
