################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PalletLoading/obj/Debug/net5.0/Razor/Views/Containers2/Create2.cshtml.g.cs
/PalletLoading/bin/
/PalletLoading/obj/
/.vs/