@model PalletLoading.Models.SecuringLoad

@{
    ViewData["Title"] = "Edit";
}


<link rel="stylesheet" href="~/css/background.css" />

<h1>Edit</h1>

<h4>Securing Load Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Chingi" class="control-label"></label>
                <input asp-for="Chingi" class="form-control" />
                <span asp-validation-for="Chingi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coltare" class="control-label"></label>
                <input asp-for="Coltare" class="form-control" />
                <span asp-validation-for="Coltare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BareFixare" class="control-label"></label>
                <input asp-for="BareFixare" class="form-control" />
                <span asp-validation-for="BareFixare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absorgel" class="control-label"></label>
                <input asp-for="Absorgel" class="form-control" />
                <span asp-validation-for="Absorgel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaciProtectie" class="control-label"></label>
                <input asp-for="SaciProtectie" class="form-control" />
                <span asp-validation-for="SaciProtectie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
