@model PalletLoading.Models.PartCenterPallets
@{
    Layout = null;
}
<div width='100%'style="margin-top:25px;" >
    <p style="font-weight:bold;margin:0px;padding:0px;">TARA:@Model.Destination</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">NR.PALET:@Model.Pallet_number.ToString("G29")</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">LUNGIME:@Model.Length M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">LATIME:@Model.Width M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">INALTIME:@Model.Height M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">GREUTATE:@Model.Width kg</p>
</div>