@model PalletLoading.Models.PartCenterPallets
@{
    Layout = null;
}
<div width='100%'style="margin-top:25px;" >
      <p style="font-weight:bold;margin:0px;padding:0px;">COUNTRY CODE:@Model.Destination</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">PALLET NUMBER:@Model.Pallet_number.ToString("G29")</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">LENGTH:@Model.Length M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">WIDTH:@Model.Width M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">HEIGHT:@Model.Height M</p><br />
    <p style="font-weight:bold;margin:0px;padding:0px;">WEIGHT:@Model.Mass kg</p>
</div>