@model PalletLoading.Models.Container

@{
    ViewData["Title"] = "New container";
}

<h1>New container</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <div align="left">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                </div>
                <span style="float:right">
                    <input type="button" ; class="btn-success" ; value="New client" ; style="float:right" />
                </span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
