@model PalletLoading.Models.Container

@{
    ViewData["Title"] = "New container";
}

<link rel="stylesheet" href="~/css/background.css" />

<style>

    #loader-1 {
        display: none;
        left: 50%;
        position: relative;
    }

        #loader-1 #loader {
            position: absolute;
            height: 5vw;
            width: 5vw;
            border: 6px solid transparent;
            border-top-color: #3498db;
            border-bottom-color: #3498db;
            border-radius: 50%;
            z-index: 2;
            -webkit-animation: spin 2s linear infinite;
            -moz-animation: spin 2s linear infinite;
            -o-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

            #loader-1 #loader:before {
                content: "";
                position: absolute;
                top: 2%;
                bottom: 2%;
                left: 2%;
                right: 2%;
                border: 4px solid transparent;
                z-index: 2;
                border-top-color: #db213a;
                border-radius: 50%;
                -webkit-animation: spin 3s linear infinite;
                -moz-animation: spin 3s linear infinite;
                -o-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;
            }

            #loader-1 #loader:after {
                content: "";
                position: absolute;
                top: 5%;
                bottom: 5%;
                left: 5%;
                right: 5%;
                border: 3px solid transparent;
                border-top-color: #dec52d;
                z-index: 2;
                border-radius: 50%;
                -webkit-animation: spin 1.5s linear infinite;
                -moz-animation: spin 1.5s linear infinite;
                -o-animation: spin 1.5s linear infinite;
                animation: spin 1.5s linear infinite;
            }

    /*Keyframes for spin animation */

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }

        50% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera */
        }

        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }


    @@-moz-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }

        50% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera */
        }

        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }

    @@-o-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }

        50% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera */
        }

        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }

    @@keyframes spin {
        0% {
            -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }

        50% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera */
        }

        100% {
            -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg); /* IE 9 */
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }
</style>

<h1>New container</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="submitForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="clientName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <div align="left">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                </div>
            </div>
            <div class="form-group">
                <div align="left">
                    <label class="control-label">Fill Rule</label>
                    <select asp-for="ContainerFillRule" class="form-control" asp-items="ViewBag.ContainerFillRule"></select>
                </div>
            </div>

            <div class="form-group">
                @* <input type="submit" value="Create" id="createBtn" class="btn btn-primary" /> *@
                <button id="createBtn" class="btn btn-success">Add</button>

            </div>
        </form>
    </div>
</div>
<div class="loader-wrapper" id="loader-1">
    <div id="loader"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // $("#createBtn").click(function () {
        //     if ($("#clientName").val() == '' || $("#clientName").val() == null) {
        //         alert("Plese type the name of client!")
        //         $("#clientName").focus();
        //         return false;
        //     }
        //     $("#loader-1").show()
        //     $(this).attr("disabled", "true");
        //     $("#submitForm").submit();
        // });

        document.getElementById('createBtn').addEventListener('click', function (event) {
            // Prevent the form from submitting normally
            event.preventDefault();
            // Get the values from the form
            var name = document.getElementById('clientName').value;
            console.log(name);
            var typeId = document.querySelector('select[name="TypeId"]').value;
            console.log(typeId);
            var countryId = document.querySelector('select[name="CountryId"]').value;
            console.log(countryId);
            var containerFillRule = document.querySelector('select[name="ContainerFillRule"]').value;
            console.log(containerFillRule);

            $.ajax({
                url: '/Containers2/Create',
                type: 'POST',
                data: {

                    Name: name,
                    TypeId: typeId,
                    CountryId: countryId,
                    ContainerFillRule: containerFillRule
                },
                dataType: "json", // Expect JSON response
                success: function (data) {
                    // Handle the response from the server
                    if (data.returnConfirm === "Yes")
                    {
                        window.location.href = '/Pallets/Create/' + data.id;
                    }
                    else if (data.returnConfirm === "No") 
                    {
                        alert('Container Already Exist!')
                    }
                },
                error: function (error) {
                    // Handle any errors
                }
            });
        });



    </script>


}
