@model PalletLoading.Models.SecuringLoad

@{
    Layout = "_Modal";
}

<link rel="stylesheet" href="~/css/background.css" />

<style>
    .containerEdges {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="modal-fade" id="ModalCreate">
    <div class="modal-dialog" >
        <div class="modal-content" style="width:70vh">
      
            <div class="modal-body">
                <form asp-action="EditSecuringLoadData">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id" style="font-size:3vh" class="form-control" hidden />
                    <input asp-for="ContainerId" style="font-size:3vh" class="form-control" hidden />


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <input asp-for="Chingi" style="font-size:3vh" class="form-control" readonly />
                                 <span asp-validation-for="Chingi" class="text-danger"></span> 
                            </div>
                            <div class="col-sm-10">
                                <label asp-for="Chingi" style="font-size:4vh" class="control-label">Chingi Ancorare</label> 
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <input asp-for="Coltare" style="font-size:3vh" class="form-control" readonly />
                                <span asp-validation-for="Coltare" class="text-danger"></span>
                            </div>
                            <div class="col-sm-10">
                                <label asp-for="Coltare" style="font-size:4vh" class="control-label">Coltare</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <input asp-for="BareFixare" style="font-size:3vh" class="form-control" readonly />
                                <span asp-validation-for="BareFixare" class="text-danger"></span>
                            </div>
                            <div class="col-sm-10">
                                <label asp-for="BareFixare" style="font-size:4vh" class="control-label">Bare Fixare</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <input asp-for="Absorgel" style="font-size:3vh" class="form-control" readonly />
                                <span asp-validation-for="Absorgel" class="text-danger"></span>
                            </div>
                            <div class="col-sm-10">
                                <label asp-for="Absorgel" style="font-size:4vh" class="control-label">Absorgel</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                <input asp-for="SaciProtectie" style="font-size:3vh" class="form-control" readonly />
                                <span asp-validation-for="SaciProtectie" class="text-danger"></span>
                            </div>
                            <div class="col-sm-10">
                                <label asp-for="SaciProtectie" style="font-size:4vh" class="control-label">Saci Protectie</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group containerEdges" style="margin-top:5vh">
                        <button id="closeModal" type="button" style="font-size:4vh" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" style="font-size:4vh" value="Confirm" class="btn btn-success" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.getElementById('closeModal').addEventListener('click', function () {
        
        $("#selectSecuringLoadModal").hide();

        // Find the element with the specified classes
        const backdropElement = document.querySelector('.modal-backdrop.fade.show');

        if (backdropElement) {
            // Remove the element
            backdropElement.remove();
        }

        const body = document.body;
        // Remove the "modal-open" class from the body
        body.classList.remove("modal-open");
        body.style.paddingRight = "";
    });

</script>
