@model PalletLoading.Models.User

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/background.css" />

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="Usermail" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" disabled />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Full name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usermail" class="control-label">Mail</label>
                <input asp-for="Usermail" class="form-control" disabled />
                <span asp-validation-for="Usermail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRightId" class="control-label">Right</label>
                <select asp-for="UserRightId" class="form-control" asp-items="ViewBag.UserRightId"></select>
                <span asp-validation-for="UserRightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Role</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.UserRole"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script>
        $("#Username").keyup(function () {
            if ($(this).val().length > 2) {
                var textval = $(this).val();
                $(this).autocomplete({
                    source: function (request, response) {

                        $.ajax({
                            url: "/Users/UserSearch/",

                            data: {
                                user: textval,
                            },

                            cache: false,
                            type: "GET",
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (data) {
                                console.log(data)
                                response($.map(data, function (item) {
                                    return { value: item.username.replace("@@mmrmakita.eu", ""), json: item };

                                }));

                            }
                        });

                    },
                    minLength: 2,
                    select: function (event, ui) {

                        var temp = ui.item.json.fullName;
                        $("#FullName").val(temp);
                    }


                });

            }
        });
    </script>

}