
@{
    ViewData["Title"] = "Error";
}

<div style="border: 2px solid black; padding: 20px; position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);  ">
    <h1 style="color:orangered; font-size: 50px;margin-left:35%">@ViewBag.ErrorCode</h1>
    @* <h1 style="color:red; font-size: 40px;">@ViewBag.ErrorMessage</h1> *@
    <h1 style="color:red; font-size: 40px;text-align: center;">@ViewBag.ErrorMessage</h1>

</div>

