
@{
    ViewData["Title"] = "AccesDenied";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="background-color:black; color:red">
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-center"><code>Acces interzis</code></h1>
        <hr class="w3-border-white w3-animate-zoom" style="margin:auto;width:50%">
        <h3 class="w3-center w3-animate-right">Nu ai permisiunea pentru a utiliza aceasta aplicatie!</h3>
        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
        <h4 class="w3-center w3-animate-left">Pentru acces aveti nevoie de cont!</h4>
    </div>
</body>
</html>